<div>
    <p appBgcolor [colorInp]="'yellow'"> I am paragraph element</p>

    <span appBgcolor> I am span </span>
    <br>
    <span> I am normal span</span>
</div>

<!-- Renderer2  -->

<div>

    <span appBgcolor class="appUserenderer"> I am span </span>
    <br>
    <p style="background-color: aqua;">
        iam a using para before<span class="appUserenderer"> I am normal span</span> iam a using para before
    </p>
    
</div>


<div>
    <button type="button" appHostbindd> Click Me </button>
</div>